body {
  background-image: url("images.jpg");
  background-size:cover;
}

#Yammie{
  text-align: center;
  font-weight: bold;
}
#addOrder{
  margin-top: 10%;
  text-align: center;

}
#getOrders{
  margin-top: 10%;
  text-align: center;
}
