
body {
    background-image: url("images.jpg");
    background-size:cover;
  }

table {
  font-family: "Times New Roman", Times, serif;
  width: 80vw;
  margin: 80px;
  text-align: center;

  }

  td{
    border: 1px solid #000000ce;
    text-align: left;
    padding: 8px;
  }
  
  .thead-dark{
    background-color: #221e1e65;
    border: 2px solid #000000ce;
    color: rgba(0, 0, 0, 0.836);
    font-size: large;

  }

  th {
    border: 1px solid #000000ce;
    text-align: center;
    padding: 8px;
  }
  
  
  tbody tr:hover {
    background-color: #b4aeae91;
  }
  
  .headline{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-weight: bold;
    background-color: #0000b121;
    padding: 55px;

  }

  #goHome{
    margin-top: 2%;
    text-align: center;
  }
